@model Produto

@{
    ViewBag.Title = $"- {Model?.Nome}";
}

@if (Model is not null)
{
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col p-3 rounded shadow bg-body">
                <div class="row">

                    <div class="col-lg">

                        <a data-bs-toggle="modal" data-bs-target="#imagemFull">
                            <img src="/img/produtos/@Model.Id/@Model.Imagens.Order().FirstOrDefault()" alt="/img/produtos/@Model.Id/@Model.Imagens.Order().FirstOrDefault()" class="w-100 rounded object-fit-contain imagemPrincipal" style="height: 500px; cursor: pointer;" />
                        </a>

                        <div class="row row-cols-4 row-cols-sm-5 row-cols-md-6 row-cols-lg-5 row-cols-xl-6">
                            @foreach (var item in Model.Imagens.Order())
                            {
                                <div class="col mt-2">
                                    <img src="/img/produtos/@Model.Id/@item" alt="/img/produtos/@Model.Id/@item" class="w-100 rounded object-fit-cover imagem" style="height: 80px; width: 80px; cursor: pointer;" />
                                </div>
                            }
                        </div>

                    </div>

                    <div class="card border-0 col-lg mt-4 mt-lg-0">
                        <h1 class="border-bottom pb-3">@Model.Nome</h1>
                        <div class="card-body border-bottom px-0">
                            <p style="white-space:pre-line; text-align: justify;">@Model.Descricao</p>
                        </div>
                        <form method="post">
                            <input hidden readonly name="produtoId" value="@Model.Id" />
                            <input hidden readonly name="preco" value="@Model.Preco" />
                            <input class="estoque" hidden readonly value="@Model.Estoque" />
                            <div class="card-footer mt-2 p-0 border-0 bg-transparent">
                                <div class="row">
                                    <div class="col-8 mt-2">
                                        <span class="h1 mt-2">@Model.Preco.ToString("C")<small class="h6">/UN</small></span>
                                        <div class="input-group" style="width: 193px;">
                                            <button class="input-group-text btn qtdMenos fs-4" style="width: 50px;">-</button>
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0 qtd fs-5 text-center" name="quantidade" placeholder="quantidade" value="1"
                                                       data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Máximo disponível" />
                                                <label for="quantidade">quantidade</label>
                                            </div>
                                            <button class="input-group-text btn qtdMais fs-4" style="width: 50px;">+</button>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <button type="submit" class="btn btn-outline-primary float-end" asp-area="" asp-controller="Carrinho" asp-action="AdicionarRedirecionar">
                                            <i class="h4 mt-2 fa-solid fa-cart-plus"></i>
                                            <p class="h5">Comprar</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="imagemFull" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-fullscreen p-2 p-sm-3 p-md-4 p-lg-5">
            <div class="modal-content rounded">
                <div class="modal-header py-1 px-2">
                    <span class="modal-title h5">@Model.Nome</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body p-1 row justify-content-center">
                    <img src="/img/produtos/@Model.Id/@Model.Imagens.Order().FirstOrDefault()" alt="/img/produtos/@Model.Id/@Model.Imagens.Order().FirstOrDefault()" class="h-100 rounded object-fit-contain imagemPrincipal" />
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
    <script src="~/js/produto/detalhes.js"></script>
    }

}
