@model Paginacao<Produto>

@if (ViewBag.Mensagem is not null)
{
    <div class="alert alert-danger mt-3" role="alert">@ViewBag.Mensagem</div>
}
else
{
    if (Model is null || Model.Data.Count <= 0)
    {
        <div class="alert alert-info mt-3" role="alert">Que pena, não há produtos para exibir.</div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            @foreach (var item in Model.Data)
            {
                <div class="col mt-3">
                    <div class="card h-100">
                        <div style="transform: rotate(0);">
                            <a class="stretched-link" asp-area="" asp-controller="Produto" asp-action="Detalhes" asp-route-id="@item.Id"></a>
                            <img src="/img/produtos/@item.Id/@item.Imagens.Order().FirstOrDefault()" class="card-img-top object-fit-contain" alt="/img/produtos/@item.Id/@item.Imagens.Order().FirstOrDefault()" style="height: 300px;">
                        </div>
                        <div class="card-body" style="transform: rotate(0);">
                            <a class="stretched-link" asp-area="" asp-controller="Produto" asp-action="Detalhes" asp-route-id="@item.Id"></a>
                            <h2 class="card-title">@item.Nome</h2>
                            <p class="card-text" style="text-align: justify;">@(item.Descricao.Length < 150 ? item.Descricao : item.Descricao.Substring(0, 150) + "...")</p>
                        </div>
                        <div class="card-footer px-2 pb-lg-1">
                            <div class="row">
                                <div class="col-9 pe-0 mt-1 mt-sm-0">
                                    <span class="fs-2">@item.Preco.ToString("C")</span>
                                </div>
                                <div class="col-3 ps-0 text-end carrinhoDireto">
                                    <a class="btn btn-outline-primary fs-5"><i class="fa-solid fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <partial name="_PaginacaoPartial" />
    }
}
