@model PedidoAdicionarViewModel

@{
    ViewBag.Title = "- Pedido";
}

<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col p-3 rounded shadow bg-body">

            @if (ViewBag.Mensagem is not null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Mensagem</div>
            }

            @if (Model is null || Model.Pedido.PedidoItens.Count <= 0)
            {
                <div class="col">
                    <span class="h2 text-center">
                        <p>O pedido está vazio <i class="fa-solid fa-face-sad-tear"></i></p>
                    </span>
                    <a class="btn btn-outline-info w-100" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="h2">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Voltar as compras</p>
                        </span>
                    </a>
                </div>
            }
            else
            {
                <form method="post">

                    <div class="row p-2">

                        <span class="h3">Pedido</span>

                        <div class="col-lg">

                            <div class="mb-3">
                                <span class="h3">Itens</span>
                            </div>

                            @foreach (var item in Model.Pedido.PedidoItens)
                            {
                                <div class="row border-top py-1">

                                    <div class="col-2">
                                        <img src="/img/produtos/@item.ProdutoId/@item.Imagem" alt="/img/produtos/@item.ProdutoId/@item.Imagem" class="w-100 object-fit-contain rounded" style="width: 50px; height:50px;" />
                                    </div>

                                    <div class="col-6">
                                        <p class="h6">@item.Nome</p>
                                        <span>@item.Quantidade x @item.Preco.ToString("C")</span>
                                    </div>

                                    <div class="col-4 text-end">
                                        <p class="h6">Total</p>
                                        <span class="h6">@item.Total.ToString("C")</span>
                                    </div>

                                </div>
                            }

                            <div class="row border-top py-3">

                                <div class="col text-end">
                                    <p class="h4">Total itens</p>
                                    <p class="h4">@Model.Pedido.ValorTotal.ToString("C")</p>
                                    @if (Model.Pedido.QuantidadeItens == 1)
                                    {
                                        <span>(@Model.Pedido.QuantidadeItens item)</span>
                                    }
                                    else
                                    {
                                        <span>(@Model.Pedido.QuantidadeItens itens)</span>
                                    }
                                </div>

                            </div>

                        </div>
                        <div class="col-lg">
                            <div class="mb-3">
                                <span class="h3">Meus dados</span>

                                <a class="btn btn-outline-secondary float-end" asp-area="" asp-controller="Cliente" asp-action="Index">
                                    <i class="fa-solid fa-square-up-right"></i> Alterar cadastro
                                </a>

                                <div class="my-3">
                                    <span class="h5">Telefone de contato</span>
                                    <select class="form-select" asp-items="@Model.Telefone" asp-for="TelefoneId">
                                    </select>
                                </div>

                                <div class="my-3">
                                    <span class="h5">E-mail de contato</span>
                                    <select class="form-select" asp-items="@Model.Email" asp-for="EmailId">
                                    </select>
                                </div>

                                <div class="my-3">
                                    <span class="h5">Endereço de entrega</span>
                                    <select class="form-select endereco" asp-items="@Model.Endereco" asp-for="EnderecoId">
                                    </select>
                                </div>

                                <div class="enderecopartial">
                                    @{
                                        await Html.RenderPartialAsync("_PedidoEnderecoPartial", Model.ClienteViewModel.Enderecos?.FirstOrDefault(x => x.Id == Model.EnderecoId));
                                    }
                                </div>

                                <div class="my-3">
                                    <span class="h5">Forma de pagamento</span>
                                    <select class="form-select" asp-for="Pedido.TipoPagamento">
                                        <option value="-1" selected disabled>Selecione uma forma de pagamento</option>
                                        <option value="0">Pix</option>
                                        <option value="1">Boleto bancário</option>
                                        <option value="2">Cartão de débito</option>
                                        <option value="3">Cartão de credito</option>
                                    </select>
                                </div>

                            </div>

                            @if (Model.PedidoAlterado)
                            {
                                <div class="alert alert-info">
                                    <p>O pedido foi alterado para quantidade de estoque disponível. Por favor verifique os novos valores e quantidades.</p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="pedidoAlterado">
                                        <label class="form-check-label" for="pedidoAlterado">Concordo com os novos valores e quantidades.</label>
                                    </div>
                                </div>
                            }

                            <div class="row border-top py-3">

                                <div class="col text-end">
                                    <p class="h3">Valor total a pagar</p>
                                    <p class="h3">@Model.Pedido.ValorTotal.ToString("C")</p>
                                    @if (Model.Pedido.QuantidadeItens == 1)
                                    {
                                        <span>(@Model.Pedido.QuantidadeItens item)</span>
                                    }
                                    else
                                    {
                                        <span>(@Model.Pedido.QuantidadeItens itens)</span>
                                    }
                                </div>

                                <div class="col">

                                    @if (Model.PedidoAlterado)
                                    {
                                        <button disabled class="btn btn-outline-primary w-100 finalizarPedido" asp-area="" asp-controller="Pedido" asp-action="Adicionar">
                                            <span class="h5">
                                                <i class="fa-solid fa-cart-flatbed"></i>
                                                <p>Finalizar<br />Pedido</p>
                                            </span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-primary w-100" asp-area="" asp-controller="Pedido" asp-action="Adicionar">
                                            <span class="h5">
                                                <i class="fa-solid fa-cart-flatbed"></i>
                                                <p>Finalizar<br />Pedido</p>
                                            </span>
                                        </button>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/pedido/adicionar.js"></script>
}
